  <!-- Begin Properties -->
      <section class="pgl-properties pgl-bg-grey">
        <div class="container">
          <h2>Offfice house</h2>
          <div class="properties-full">
            <div class="listing-header clearfix">
              <ul class="list-inline list-icons pull-left">
                <li class="active"><a href="grid-fullwidth-4-column.html"><i class="fa fa-th"></i></a></li>
                <li><a href="list-fullwidth.html"><i class="fa fa-th-list"></i></a></li>
                <li><a href="list-map.html"><i class="fa fa-map-marker"></i></a></li>
              </ul>
              <ul class="list-inline list-sort pull-right">
                <li><label for="order-status">Order</label></li>
                <li>
                  <select id="order-status" name="order-status" data-placeholder="Order" class="chosen-select">
                    <option value="Descending">Descending</option>
                    <option value="Ascending">Ascending</option>
                  </select>
                </li>
                <li><label for="sortby-status">Sort by</label></li>
                <li>
                  <select id="sortby-status" name="sortby-status" data-placeholder="Sort by" class="chosen-select">
                    <option value="Name">Name</option>
                    <option value="Area">Area</option>
                    <option value="Date">Date</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="masonry-desk">
                <div class="col-xs-6 col-md-3 animation masonry-item">
                  <div class="pgl-property">
                    <div class="property-thumb-info">
                      <div class="property-thumb-info-image">
                        <img alt="" class="img-upcoming" src="/assets/pf1.jpg">
                        <span class="property-thumb-info-label">
                          <span class="label price">Events</span>
                          <span class="label forrent">Business</span>
                        </span>
                      </div>
                      <div class="property-thumb-info-content">
                        <h3><a href="property-detail.html">Amy</a></h3>
                        <address>Experiences are key, expert in business</address>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 animation masonry-item">
                  <div class="pgl-property">
                    <div class="property-thumb-info">
                      <div class="property-thumb-info-image">
                        <img alt="" class="img-upcoming" src="/assets/pf2.png">
                        <span class="property-thumb-info-label">
                          <span class="label price">Events</span>
                          <span class="label forrent">Development</span>
                        </span>
                      </div>
                      <div class="property-thumb-info-content">
                        <h3><a href="property-detail.html">Bob</a></h3>
                        <address>Experienced in full stack Ruby on rails</address>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 animation masonry-item">
                  <div class="pgl-property">
                    <div class="property-thumb-info">
                      <div class="property-thumb-info-image">
                        <img alt="" class="img-upcoming" src="/assets/pf3.jpg">
                        <span class="property-thumb-info-label">
                          <span class="label price">Events</span>
                          <span class="label forsold">Sales</span>
                        </span>
                      </div>
                      <div class="property-thumb-info-content">
                        <h3><a href="property-detail.html">Ben</a></h3>
                        <address>Won many awards in sales</address>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 animation masonry-item">
                  <div class="pgl-property">
                    <div class="property-thumb-info">
                      <div class="property-thumb-info-image">
                        <img alt="" class="img-upcoming" src="/assets/pf4.jpg">
                        <span class="property-thumb-info-label">
                          <span class="label price">Events</span>
                          <span class="label forrent">Design</span>
                        </span>
                      </div>
                      <div class="property-thumb-info-content">
                        <h3><a href="property-detail.html">Chan</a></h3>
                        <address>User Experience for 8 years</address>
                      </div>
         
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 animation masonry-item">
                  <div class="pgl-property">
                    <div class="property-thumb-info">
                      <div class="property-thumb-info-image">
                        <img alt="" class="img-upcoming" src="/assets/pf5.jpg">
                        <span class="property-thumb-info-label">
                          <span class="label price">Events</span>
                          <span class="label forsold">Marketing</span>
                        </span>
                      </div>
                      <div class="property-thumb-info-content">
                        <h3><a href="property-detail.html">Can</a></h3>
                        <address>Too good to be true</address>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 animation masonry-item">
                  <div class="pgl-property">
                    <div class="property-thumb-info">
                      <div class="property-thumb-info-image">
                        <img alt="" class="img-upcoming" src="/assets/pf6.jpg">
                        <span class="property-thumb-info-label">
                          <span class="label price">Events</span>
                          <span class="label forsold">Marketing</span>
                        </span>
                      </div>
                      <div class="property-thumb-info-content">
                        <h3><a href="property-detail.html">Chris</a></h3>
                        <address>Has a lot of knowledge</address>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 animation masonry-item">
                  <div class="pgl-property">
                    <div class="property-thumb-info">
                      <div class="property-thumb-info-image">
                        <img alt="" class="img-upcoming" src="/assets/pf7.jpg">
                        <span class="property-thumb-info-label">
                          <span class="label price">Events</span>
                          <span class="label forsold">Development</span>
                        </span>
                      </div>
                      <div class="property-thumb-info-content">
                        <h3><a href="property-detail.html">Tom</a></h3>
                        <address>Full Stack Ruby On Rails</address>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3 animation masonry-item">
                  <div class="pgl-property">
                    <div class="property-thumb-info">
                      <div class="property-thumb-info-image">
                        <img alt="" class="img-upcoming" src="/assets/pf8.jpg">
                        <span class="property-thumb-info-label">
                          <span class="label price">Events</span>
                          <span class="label forrent">Startup</span>
                        </span>
                      </div>
                      <div class="property-thumb-info-content">
                        <h3><a href="property-detail.html">Kelly</a></h3>
                        <address>If you want to know more about startups</address>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="pagination">
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">Next</a></li>
             </ul>
          </div>
        </div>
      </section>
      <!-- End Properties -->