<!-- Begin Main -->
<div role="main" class="main pgl-bg-grey">
      <!-- Begin page top -->
      <section class="page-top-profile">
        <div class="container">
          <div class="page-top-in">
        </div>
      </section>
      <!-- End page top -->
      
      <!-- Begin content with sidebar -->
      <div class="container">
        <div class="row">
          <div class="col-md-9 content">
            <h2> About Rachel Soh</h2>
            <div class="contact">
              <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit.</p>
              <div class="row">
                <div class="col-sm-6">
                 
                </div>
              </div>
              <hr>
              <form id="contact-form" name="form1" method="post" action="send_contact.php">
                <div class="form-group">
                  <div class="row">
                     <h3>Organize An Event</h3>
                    <div class="col-sm-6">
                      <label for="name">Date</label>
                      <input type="text" name="name" id="name" class="form-control" data-msg-required="Please enter your name." required>
                    </div>
                    <div class="col-sm-6">
                      <label for="customer_mail">Time</label>
                      <input type="email" name="customer_mail" id="customer_mail" class="form-control" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="subject">Duration For Booking</label>
                      <input type="text" name="subject" id="subject" class="form-control" data-msg-required="Please enter the subject." required>
                    </div>
                    <div class="col-sm-6">
                      <label for="website">Price</label>
                      <input type="text" name="website" id="website" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="subject">Number of Participants</label>
                      <input type="text" name="subject" id="subject" class="form-control" data-msg-required="Please enter the subject." required>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="comments">Your Message*</label>
                  <textarea rows="9" name="comments" id="comments" class="form-control" data-msg-required="Please enter your message." required></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-primary min-wide" data-loading-text="Loading...">
                </div>
              </form>
            </div>
            
          </div>
          <div class="col-md-3 sidebar">
            
            <!-- Begin Our Agents -->
            <aside class="block pgl-agents pgl-bg-light">
              <h3>Profile</h3>
              <div class="owl-carousel pgl-pro-slide pgl-agent-item" data-plugin-options='{"items": 1, "pagination": false, "autoHeight": true}'>

                <div class="pgl-agent-item">
                  <div class="img-thumbnail-medium">
                    <img src="/assets/rsprofile.jpg" class="img-profile"></a>
                  </div>
                  <div class="pgl-agent-info">
                    <h4><a href="agentprofile.html">Rachel Soh</a></h4>
                    <address>
                      <i class="fa fa-map-marker"></i> Office : 1-800-666-8888<br>
                      <i class="fa fa-phone"></i> Mobile : 0800-666-6666<br>
                      <i class="fa fa-fax"></i> Fax : 1-800-666-8888<br>
                      <i class="fa fa-envelope-o"></i> Mail: <a href="mailto:JohnSmith@gmail.com">rachel@gmail.com</a><br>
                      <p>Basic Indormation:</p> 
                        <p>QA Engineer, Startup founder of ConnectMalaysia</p>
                    </address>
                  </div>  
                </div>

              </div>
            </aside>
            <!-- End Our Agents -->
            
          </div>
        </div>  
      </div>
      <!-- End content with sidebar -->
      
    </div>
    <!-- End Main -->

    <!-- Begin Properties -->
      <section class="pgl-properties pgl-bg-grey">
        <div class="container">
          <h2>Upcoming Events</h2>
          <div class="properties-full properties-listing properties-listfull">
            <div class="listing-header clearfix">
              <ul class="list-inline list-icons pull-left">
                <li><a href="grid-fullwidth-4-column.html"><i class="fa fa-th"></i></a></li>
                <li class="active"><a href="list-fullwidth.html"><i class="fa fa-th-list"></i></a></li>
                <li><a href="list-map.html"><i class="fa fa-map-marker"></i></a></li>
              </ul>
              <ul class="list-inline list-sort pull-right">
                <li><label for="order-status">Order</label></li>
                <li>
                  <select id="order-status" name="order-status" data-placeholder="Order" class="chosen-select">
                    <option value="Descending">Descending</option>
                    <option value="Ascending">Ascending</option>
                  </select>
                </li>
                <li><label for="sortby-status">Sort by</label></li>
                <li>
                  <select id="sortby-status" name="sortby-status" data-placeholder="Sort by" class="chosen-select">
                    <option value="Name">Name</option>
                    <option value="Area">Area</option>
                    <option value="Date">Date</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="pgl-property animation">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="property-thumb-info-image">
                    <img alt="" class="img-upcoming" src="/assets/uc1.jpg">
               
                  </div>
                </div>
                <div class="col-sm-6 col-md-8">
                  <div class="property-thumb-info">
                      
                    <div class="property-thumb-info-content">
                      <h3><a href="property-detail.html">Magic</a></h3>
                      <address>Startup Weekend</address>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="amenities clearfix">
                      <ul class="pull-left">
                        <li><strong>Location:</strong> Cyberjaya</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pgl-property animation">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="property-thumb-info-image">
                    <img alt="" class="img-upcoming" src="/assets/uc2.jpg">
                    
                  </div>
                </div>
                <div class="col-sm-6 col-md-8">
                  <div class="property-thumb-info">
                      
                    <div class="property-thumb-info-content">
                      <h3><a href="property-detail.html">Talk to Josh</a></h3>
                      <address>Next Academy</address>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="amenities clearfix">
                      <ul class="pull-left">
                        <li><strong>Location:</strong> Glomac Damansara</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </section>
      <!-- End Properties -->

<!-- Begin Properties -->
      <section class="pgl-properties pgl-bg-grey">
        <div class="container">
          <h2>Attended Events</h2>
          <div class="properties-full properties-listing properties-listfull">
            <div class="listing-header clearfix">
              <ul class="list-inline list-icons pull-left">
                <li><a href="grid-fullwidth-4-column.html"><i class="fa fa-th"></i></a></li>
                <li class="active"><a href="list-fullwidth.html"><i class="fa fa-th-list"></i></a></li>
                <li><a href="list-map.html"><i class="fa fa-map-marker"></i></a></li>
              </ul>
              <ul class="list-inline list-sort pull-right">
                <li><label for="order-status">Order</label></li>
                <li>
                  <select id="order-status" name="order-status" data-placeholder="Order" class="chosen-select">
                    <option value="Descending">Descending</option>
                    <option value="Ascending">Ascending</option>
                  </select>
                </li>
                <li><label for="sortby-status">Sort by</label></li>
                <li>
                  <select id="sortby-status" name="sortby-status" data-placeholder="Sort by" class="chosen-select">
                    <option value="Name">Name</option>
                    <option value="Area">Area</option>
                    <option value="Date">Date</option>
                  </select>
                </li>
              </ul>
            </div>
            
            </div>
            <div class="pgl-property animation">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="property-thumb-info-image">
                    <img alt="" class="img-upcoming" src="/assets/uc3.jpg">
                    
                  </div>
                </div>
                <div class="col-sm-6 col-md-8">
                  <div class="property-thumb-info">
                      
                    <div class="property-thumb-info-content">
                      <h3><a href="property-detail.html">The Co KL</a></h3>
                      <address>VLT Labs</address>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="amenities clearfix">
                      <ul class="pull-left">
                        <li><strong>Location:</strong> Lengkok Abdullah</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pgl-property animation">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="property-thumb-info-image">
                    <img alt="" class="img-upcoming" src="/assets/uc1.jpg">
                    
                  </div>
                </div>
                <div class="col-sm-6 col-md-8">
                  <div class="property-thumb-info">
                      
                    <div class="property-thumb-info-content">
                      <h3><a href="property-detail.html">Mindvalley</a></h3>
                      <address>Advice</address>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="amenities clearfix">
                      <ul class="pull-left">
                        <li><strong>Location:</strong> Anywhere</li>
                      </ul>
                      <ul class="pull-right">
                        <li><i class="icons icon-bedroom"></i> 3</li>
                        <li><i class="icons icon-bathroom"></i> 2</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </section>
      <!-- End Properties -->